* {
  box-sizing: border-box;
}

body {
  background-color: lavenderblush;
  line-height: 1.5;
}

h4 {
  font-weight: normal;
  font-size: 1.2rem;
}

.nav {
  display: flex;
  list-style-type: none;
  border: 1px solid gray;
  letter-spacing: 1.1px;
}

.name {
  display: block;
  margin-right: auto;
  font-size: 1.5rem;
}

.nav li {
}

.header-transform {
  text-transform: uppercase;
  text-align: center;
}

header img {
  /* float: right; */
}

main {
  border: 1px solid gray;
  background-color: snow;
}

.projects {
  border: 1px solid gray;
  text-align: center;
}

article img {
  width: 100%;
  max-width: 150px;
}

aside {
  text-align: center;
}

.contact-info {
  font-weight: bold;
  margin-left: 10px;
}

footer li {
  list-style-type: none;
}

/* Main Styles ------------------- */

/* Media Queries ------------------*/
