* {
  box-sizing: border-box;
}

/* || General Styles ------------------- */

body {
  background-color: #b3e5fc;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 0 auto;
}

main {
  background: snow;
}

aside {
  text-align: center;
}

h4 {
  font-weight: normal;
  font-size: 1.2rem;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  padding: 0;
}

/* || Header and Main Nav ------------------- */

ul {
  padding: 0;
}

.nav a {
  /* display: block; */
  text-transform: uppercase;
  font-weight: bold;
}

.nav li {
  list-style-type: none;
  text-align: center;
  background-color: snow;
  margin-bottom: 5px;
  /* display: block; */
  padding: 0.5em 0;
  font-size: 1em;
}

#name {
  background-color: transparent;
  border: none;
  padding: 6px 0;
  margin-bottom: 7%;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.nav a:hover {
  color: paleturquoise;
}

.nav li {
  width: 90%;
  margin: 5px auto;
}

header img {
  display: block;
  width: 70%;
  margin: auto;
  padding: 8% 0;
}

header p {
  padding-bottom: 3rem;
}

header {
  margin: 0 20px;
}

/* Main ------------------- */

#portfolio,
#skills {
  padding-bottom: 3rem;
}

main p,
aside {
  padding: 0 20px 0 20px;
  margin: 10px;
}

main p:last-child {
  margin-bottom: 0;
  padding-bottom: 4rem;
}

main h4 {
  font-weight: 600;
}

.header-transform {
  text-transform: uppercase;
  text-align: center;
  padding-top: 3em;
  /* font-size: smaller; */
  font-weight: 900;
}

.projects,
.skills {
  text-align: center;
  /* padding-bottom: 20px; */
}

.projects:last-child {
  padding-bottom: 0;
}

.projects:first-child {
  padding-top: 10%;
}

article img {
  width: 90%;
}

.contact-info {
  font-weight: bold;
  margin-left: 10px;
}

aside {
  padding-bottom: 2rem;
}

/* Footer ------------------- */

hr {
  width: 90%;
}

footer li {
  font-weight: bold;
  text-transform: uppercase;
  list-style-type: none;
  float: right;
  margin: 20px 0 40px 0;
  padding-right: 5%;
  display: none;
}

footer li:first-child,
footer li:nth-child(6n) {
  text-transform: none;
  float: left;
  padding-left: 5%;
  display: inline-block;
}

footer li:nth-child(6n) {
  text-transform: uppercase;
  float: right;
}

/* footer li:nth-child(4n +1) {
  float: right;
} */

/* Media Queries ----------------------------*/

@media screen and (min-width: 768px) {
  #main-header,
  .nav {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    padding-bottom: 3rem;
  }

  #main-nav {
    height: 10vh;
    margin-bottom: 10%;
    width: 50%;
    align-items: center;
    margin: auto;
  }

  #main-header img {
    display: inline;
    padding: 0 20px;
    float: right;
    order: 2;
    align-self: flex-start;
  }

  #main-header p {
    float: left;
    order: 1;
    text-align: left;
  }

  .nav a:hover {
    color: white;
  }

  .nav {
    margin-top: 3em;
    flex-direction: row;
  }

  .nav li {
    background-color: transparent;
  }

  #name {
    margin-bottom: 2.5rem;
  }

  /* Body */

  #first-project {
    padding-top: 0;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .projects,
  .skills {
    flex: 50%;
  }

  #contact,
  aside p:first-child,
  aside p:nth-child(2n) {
    padding-bottom: 2rem;
  }

  aside p:nth-child(2n) {
    margin: 0 20%;
  }

  footer li:first-child,
  footer li:nth-child(5n) {
    text-transform: none;
    float: left;
    padding-left: 5%;
    display: inline-block;
  }

  footer li:nth-child(5n),
  footer li:nth-child(4n),
  footer li:nth-child(3n),
  footer li:nth-child(2n) {
    display: inline-block;
    text-transform: uppercase;
    float: right;
  }

  footer li:nth-child(6n) {
    display: none;
  }

  footer {
    padding-bottom: 8rem;
    font-size: smaller;
  }
}

@media screen and (min-width: 1024px) {
  #name {
    display: inline-block;
    float: left;
    margin-bottom: 0;
    margin-left: 5%;
    margin-top: 15px;
    font-size: 1.5em;
  }

  #main-nav {
    margin-top: 2rem;
    float: right;
    width: 42%;
  }

  nav ul {
    display: flex;
    margin-top: 2rem;
  }

  #main-header {
    clear: both;
    margin: 0 auto;
    padding-top: 2%;
    width: 95%;
  }

  header img {
    min-width: 450px;
    width: 100%;
  }

  header p {
    line-height: 1.8rem;
    margin-left: 2.5%;
    margin-top: 0;
    margin-right: 1.6rem;
    /* font-size: 1rem; */
  }

  /* .row {
    justify-content: center;
  } */

  .projects {
    flex: 30%;
  }

  aside p:nth-child(2n) {
    margin: 0 25%;
  }

  footer {
    padding-bottom: 0;
  }

  main {
    width: 97%;
    margin: auto;
  }
}

.full-wrapper {
  margin-top: 1rem;
}
